.ethAddress a {
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  margin: 0 !important;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}

.ethAddress a:visited {
  color: inherit;
}

.paper {
  min-width: 20px !important;
}

.avatar {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
