.nominateText{
    font-size: 28px;
    color: #f5eee6;
    line-height: 36.54px;
    margin-top: 4rem;
    padding-bottom: 8px;
    font-weight: 700;
}
.nominateDesc{
    font-size: 14px;
    color: #F5EEE6;
    padding-bottom: 1rem;
    border-bottom: 1px solid #272728;
}
.labelMargin {
    margin-bottom: 10px;
    margin-top: 14px;
}

.labelMargin input {
    color: #F5EEE6;
}
.desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color:#F5EEE6;
    margin-bottom: 6px;
    margin-top: 12px;
}